

.iza{
    height: 300px;
    width: 500px;
}

body

{
    background-color:rgb(200, 208, 243);
}

h2
{
    background-color:rgb(222, 248, 74);
    width: 200px;

}



span
{
    color:rgb(2, 2, 110);
    width: 200px;
}

